# Python
__pycache__/
*.py[cod]
*.so
*.dylib
*.egg
*.egg-info/
dist/
build/
.eggs/
.python-version

# Virtual environments
.env
.venv
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
.DS_Store
*/.DS_Store

# Data & reports
data/local/
reports/**
!reports/README.md
!reports/.gitkeep
!reports/sample-report.png

# Jupyter
.ipynb_checkpoints/

# Logs
logs/
*.log

# Node
node_modules/
web/.next/
